@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@if (ViewData["thongbaothanhcong"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewData["thongbaothanhcong"]');
        };
    </script>
}
@if (ViewData["thongbaodangkythanhcong"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewData["thongbaodangkythanhcong"]');
        };
    </script>
}
<div class="row">
    <div class="col-2">
        <h1>Der Six<br> Always by my side</h1>
        <p>With you to conquer the top of beauty </p>
        <a href="" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="~/img/pngtree-cosmetic-pink-background-simple-literary-image_7414.jpg">
    </div>
</div>
<!-- ------------- featured products ---------------- -->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
        <div class="col-4">
            <a href="products_detal.html"><img src="~/img/1ed5c9caf0ca01ab3371d80d2cc255_15be925271f9416597b806baea3a1448_master_be5b3e372fa7434789abf417c9b2e953_master.webp"></a>
            <h4><span id="tensp">son hong</span></h4>
            <p><span id="gia">$50.00</span></p>
            <button type="button">Chọn Mua</button>
        </div>
    </div>
</div>
<!-- ------------ testimonial -------------- -->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-qoute-lef"></i>
                <p>
                    Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased
                    imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness.
                    Removal request delight if on he we
                </p>



            </div>
            <div class="col-3">
                <i class="fa fa-qoute-lef"></i>
                <p>
                    Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased
                    imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness.
                    Removal request delight if on he we
                </p>


            </div>
            <div class="col-3">
                <i class="fa fa-qoute-lef"></i>

            </div>
        </div>
    </div>
</div>