
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="to">
    <form class="form" action="/Chitietdonhang/chitiet" method="post" >
        <h2> Kiểm tra đơn hàng </h2>
        <label >Email</label>
        <input type="email" name="Email">
        <input id="submit" type="Submit" name="Submit" value="Kiểm Tra">
    </form>

</div>